<head>
    <!--
    TODO:
     - match more than just space, both for checking last entered and lastindexof
     - do some fancy stuff with choosing the lipogram letter
     - style, I guess
     - be less dumb when people type too quickly
     - use a separate file for js I guess
     - sanitation - esp. when creating css ids from word - if quotes, we fucked
    -->
    <title>Lipogram</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
        url_for('static', filename='jquery-1.10.2.min.js') }}">\x3C/script>')</script>
    <script>
        var WHATIF_ROOT = {{ request.script_root|tojson|safe }};
        function getLastWord(text) {
            // \xA0 to deal with nbsps as well as spaces
            var lastWord = text.substr(1+Math.max(text.lastIndexOf(' '),
                                            text.lastIndexOf('\xA0')));
            return lastWord;
        }

        function placeCaretAtEnd(el) {
            el.focus();
            if (typeof window.getSelection != "undefined"
            && typeof document.createRange != "undefined") {
                var range = document.createRange();
                range.selectNodeContents(el);
                range.collapse(false);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
                } else if (typeof document.body.createTextRange != "undefined") {
                var textRange = document.body.createTextRange();
                textRange.moveToElementText(el);
                textRange.collapse(false);
                textRange.select();
            }
        }

        $( document ).ready(function() {
            $('#lipotext').focus();

            $('#lipotext').keyup(function(event) {
                var c = String.fromCharCode(event.keyCode);
                var text = $('#lipotext').text();
                if (c == ' '){
                    // this should NOT get the last word
                    var word = getLastWord(text.trim());
                    if(word.indexOf('e') != -1){
                        re = new RegExp(word, 'g');
                        $('#lipotext').html($('#lipotext').html().replace(re,
                        '<select id="' + word + '"><option value=1>' + word + '</option></select>'));
                        placeCaretAtEnd($('#lipotext').get(0));

                        $.get( WHATIF_ROOT + '/' + word + '/' + 'e', function( data ) {
                            $.each(data['payload'], function(index, value) {
                                $('#' + word).append(new Option(value, index+1));
                            });
                        });
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div id=mainform>
        <div id="lipotext" contenteditable='true'>
        </div>
        <div id="liposuggestion">
        </div>
    </div>
</body>
